<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
    <%- include('../includes/nav.ejs') %>
        <div class="center">
            <div class="form">
                <form action="/admin/addTeacherToClass" method="POST">
                    <% if(errorMessage){ %>
                        <p class="errorMessage"><%= errorMessage %> </p>
                    <% }else if(sucssesMessage){ %>
                        <p class="sucssesMessage"><%= sucssesMessage %> </p>
                    <% } %> 
                    <label for="classNumber">شماره کلاس</label>
                    <input type="text" name="classNumber" id="classNumber">
                    <label for="username">نام کاربری دبیر</label>
                    <input type="text" name="username" id="username">
                    <button type="submit" >اضافه کردن</button>
                </form>
            </div>
        </div>
<%- include('../includes/footer.ejs') %> 