<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
    <%- include('../includes/nav.ejs') %>
        <div class="center">
            <div class="form">
                <form action="/class/<%= classId %>/student/identityConfirmation" method="POST">
                    <% if(errorMessage){ %>
                        <p class="errorMessage"><%= errorMessage %> </p>
                    <% }else if(sucssesMessage){ %>
                        <p class="sucssesMessage"><%= sucssesMessage %> </p>
                    <% } %>   
                    <div class="informationSignUp">
                        <h4>نام و نام خانوادگی شما باید به زبان فارسی وارد شود.</h4>
                        <h4>رمز عبور باید حداقل شامل 8 کارکتر باشد.</h4>
                        <h4>رمز عبور میتواند شامل اعداد و حروف لاتین باشد</h4>
                    </div>
                    <label for="name">نام </label>
                    <input type="text" name="name" id="name">
                    <label for="lsatName">نام خانوادگی</label>
                    <input type="text" name="lastName" id="lastName">
                    <label for="password">رمز عبور جدید</label>
                    <input type="password" name="password" id="password">
                    <label for="password">تکرار رمز عبور جدید</label>
                    <input type="password" name="confirmPassword" id="confirmPassword">
                    
                    <button type="submit" >ارسال</button>
                </form>
            </div>
        </div>
<%- include('../includes/footer.ejs') %> 